## arithematic
```
*  + plus
*  - minus
*  * mul
*  / div
*  // floor
*  ** pow
*  % mood
```
## Logical 

* and 
* or 
* not 
* ^ xor

## compare
```
* ==
*  <
*  >
* <=
* >=
```

In [1]:
-5 % 4

3

In [2]:
-5 % -4

-1

In [4]:
True ^ False

True

In [8]:
year = int(input("enter the year="))
if year%4 == 0:
    print("leap year")
else:
    print("not")

enter the year=2000
leap year

In [9]:
print?

In [14]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print("\n")

# # # #

# # # #

# # # #

# # # #

In [3]:
n=4
row=0
while(row<n-1):
    col = 0
    while(col<=n-1):
        print("*",end=" ")
        col+=1

    row+=1
    print()

* * * *
* * * *
* * * *

In [5]:
n=4
row=0
while(row<n):
    col = 0
    while(col<=row):
        print("*",end=" ")
        col+=1

    row+=1
    print()

*
* *
* * *
* * * *

In [6]:
n=4
row=0

while(row<n):
    col = 0
    while(col<=row):
        print(str(col +1) + " ",end=" ")
        col+=1

    row+=1
9    print()

1
1  2
1  2  3
1  2  3  4

In [12]:
i =[2,3,"mohit","gurpreet"]
for a in i:
    if(type(a)==str):
        print(a)
    else:
        pass

mohit
gurpreet

In [14]:
coll= {}

In [15]:
coll["apple"]="manish bhag"

In [16]:
coll?

In [17]:
coll

{'apple': 'manish bhag'}

In [18]:
coll["apple"]

'manish bhag'

In [20]:
for item in coll:
    print(item,coll[item])

apple manish bhag

In [22]:
coll.keys()

dict_keys(['apple'])

In [24]:
coll.values()

dict_values(['manish bhag'])

In [25]:
coll.items()

dict_items([('apple', 'manish bhag')])

In [27]:
names =["manish","chetan","tanish"]
ages = [2,3,4,5]
list(zip(names,ages))

[('manish', 2), ('chetan', 3), ('tanish', 4)]